html { 
    font-family: 'Archivo Narrow', sans-serif;
    background: #eee; padding: 1rem; 
}
body { max-width: 21.7cm; margin: 0 auto; background: white; font-size: 0.65cm; }
h3 { 
    font-size: small; 
    font-weight: 500;
    margin: 0;
}
table { 
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
}
td {
    text-align: left;
    vertical-align: top;
}
p {
    margin: 0;
    margin-bottom: 1px;
}
a {
    text-decoration: none;
    color: black;
}
.search_bar {
    border: 0;
}
.centered {
    text-align: center;
}
.client {
    font-weight: 800;
    text-align: center;
    font-size: 19px;
}
.product {
    font-size: 0.4cm;
    font-weight: 500;
}
.my_image {
    padding-top: 2px;
    max-height: 80px;
    max-width: 80px;
}
.my_code {
    font-size: 0.26cm;
    text-align: center;
}
.receipt_image {
    vertical-align: middle;
    max-width: 12cm;
    padding-top: 5px;
}
.cotizacion {
    color: red;
}
.middle_heads {
    min-width: 4cm;
}
.my_input {
    text-align: center;
    width: 95%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
.my_second_input {
    width: 99%;
}
.justified {
    text-align: justify;
}