html { 
    font-family: 'Archivo Narrow', sans-serif;
    background: #eee; padding: 1rem; 
}
body { max-width: 21.6cm; margin: 0 auto; background: white; font-size: 0.65cm; }
@page {
    size: 8.5in 11in;
    margin: 0;
}
h3 { 
    font-size: small; 
    font-weight: 500;
    margin: 0;
}
table { 
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
}
tr {
    page-break-inside: avoid;
}
td {
    text-align: left;
    vertical-align: top;
}
table tfoot{display: table-footer-group;}
p {
    margin: 0;
    margin-bottom: 1px;
}
a {
    text-decoration: none;
    color: black;
}
.flash { 
    margin: 1em 0; padding: 1em; 
    background: #cae6f6; border: 1px solid #377ba8;
    text-align: center; padding-top: 5px; 
    margin-bottom: 0; margin-top: 6px;
    padding-bottom: 5px;
  }
.no_borders {
    border: none !important;
    padding: 4px;
}
table.search_bar {
  margin: 1px;
  padding: 1px;
  border: 0;
}
td.search_bar {
  width: 99%;
  margin: 0;
  padding: 0;
  border: 0;
}
.my_second_input {
  width: 99%;
  height: 1.5em;
  margin: 0;
}
.search_bar_button {
  width: 99%;
  height: 1.95em;
}
.centered {
    text-align: center;
}
table.client {
    font-weight: 800;
    text-align: center;
    font-size: 0.75em;
}
.product {
    font-size: 0.62em;
    font-weight: 500;
    border: 0;
}
.my_image {
    padding-top: 2px;
    max-height: 80px;
    max-width: 80px;
}
.my_code {
    font-size: 0.26cm;
    text-align: center;
}
.receipt_image {
    vertical-align: middle;
    max-width: 12cm;
    padding-top: 5px;
}
.cotizacion {
    color: red;
}
.middle_heads {
    min-width: 4cm;
}
.my_input {
    text-align: center;
    width: 95%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
.my_second_input {
    width: 99%;
}
.justified {
    text-align: justify;
}