{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Receipt{% endblock %}</h1>
{% endblock %}

{% block content %}
<table style="width:100%">
    {% for head in heads %}
    <th>{{ head.capitalize() }}</th>
    {% endfor %}
    <form method="post">
    {% for code in products %}
    <tr>
        {% for head in heads %}
        {% if head == "cantidad" %}
            <td><input style="width: 50px" name="{{ code }}" id="{{ code }}"></td>
        {% elif head == "imagen" %}
        <td><image width="100px" height="100px" src="{{ url_for('static', filename='images/{}'.format(products[code][head])) }}"></image></td>
        {% elif head == "total" %}
            <td>{{ totals[code] }}</td>
        {% else %}
        <td>{{ products[code][head] }}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        {% for head in heads %}
            {% if head == "codigo" %}
            <td><input style="width: 100px" name="codigo" id="codigo" value="{{ empty_product[head] }}"></td>
            {% elif head == "cantidad" %}
            <td><input type="submit" value="Submit"></td>
            {% elif head == "total" %}
            <td>{{ total }}</td>
            {% else %}
            <td>{{ empty_product[head] }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    </form>
</table>
{% endblock %}