
<h2>
    <a class="my_link" href="{{ url_for('client.clients') }}">
        Cleintes
    </a>
</h2>
<hr>
{% for i in columns %}
<table class="main_page">
    <tr>
        {% for j in rows %}
        <td class="item">
        {% if i+j+i != len(clients) %}
            <h4>
            <a class="my_link" href="{{ url_for('client.profile', client_id=clients[2*i + j].id) }}">
                {{ clients[2*i + j].nombre }}
            </a>
            </h4>
            <a class="my_link" href="{{ url_for('receipt.edit_receipt', receipt_id=clients[i+j+i].recibos[-1].id) }}">
                <p>
                    Recibo Reciente: <br>
                    Modificado {{ format_time(receipts[2*i + j].fecha) }}<br>
                    Total: {{ add_iva(receipts[2*i + j].total) }}
                </p>
            </a>
        {% endif %}
        </td>
        {% endfor %}
    </tr>
</table>
{% endfor %}
