{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Pagina Principal{% endblock %}</h1>
{% endblock %}

{% block content %}
<table class="main_page_table">
    <tr>
        <td class="main_page">
            {% include "main_page/receipts.html" %}
        </td>
        <td class="main_page" rowspan="2">
            <a class="my_link" href="{{ url_for('inventory.inventory') }}">
                {% include "main_page/products.html" %}
            </a>
        </td>
    </tr>
    <tr>
        <td class="main_page">
            <a class="my_link" href="{{ url_for('client.clients') }}">
                {% include "main_page/clients.html" %}
            </a>
        </td>
    </tr>
</table>
{% endblock %}