{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Añadir Cliente{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {% for head in heads %}
        <label for="{{ head }}">{{ heads[head] }}</label>
        {% if head == "descripcion" %}
            <textarea name="{{ head }}" id="{{ head }}"></textarea>
        {% else %}
            <input name="{{ head }}" id="{{ head }}" required>
        {% endif %}
        {% endfor %}
        <input type="submit" value="Aceptar">
    </form>
{% endblock %}