{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Clientes{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <table class="search_bar">
        <td>
            <input class="my_second_input" name="search_term" id="search_term">
        </td>
        <td>
            <input class="my_second_input" type="submit" value="Buscar">
        </td>
    </table>
</form>
<table style="width: 100%">
{% for head in heads %}
    <th>{{ heads[head] }}</th>    
{% endfor %}
{% for client in clients %}
    <tr>
    {% for head in heads %}
        <td>{{ client[head] }}</td>
    {% endfor %}
        <td>
            <a href="{{ url_for('client.profile', client_id=client['id']) }}">Perfil</a>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}