{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Clientes{% endblock %}</h1>
    <a href="{{ url_for('client.add_client') }}">
        <h1>Añadir Cliente</h1>
    </a>
{% endblock %}

{% block content %}
<h3>Buscar Cliente:</h3>
<form method="post">
    <table class="search_bar">
        <td class="search_bar_td">
            <input class="my_second_input" name="search_term" id="search_term">
        </td>
        <td class="search_bar_td">
            <input class="search_bar_button" type="submit" value="Buscar">
        </td>
    </table>
</form>
<table class="clients">
{% for head in heads %}
    <th>{{ heads[head] }}</th>    
{% endfor %}
{% for client in clients %}
    <tr>
    {% for head in heads %}
    <td class="clients">
    {% if head == "nombre" %}
        <a class="default_link" href="{{ url_for('client.profile', client_id=client['id']) }}">
            {{ client[head] }}
        </a>
    {% else %}
        {{ client[head] }}
    {% endif %}
    </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock %}