
<h3>Buscar Recibo:</h3>
<form method="post">
    <table class="search_bar">
        <tr>
            <td class="search_bar">
                <input class="my_second_input" name="search_term" id="search_term">
            </td>
            <td class="search_bar_button">
                <input class="my_second_input" type="submit" value="Buscar">
            </td>
        </tr>
    </table>
</form>
<table class="receipt_table">
    {% for head in receipt_heads %}
    <th class="receipt_table">
        {{ receipt_heads[head] }}
    </th>
    {% endfor %}
    {% for receipt_id in receipts %}
    {% if receipt_id != "numero_de_recibos" %}
    <tr>
    {% for head in receipt_heads %}
        <td class="receipt_table">
        {% if head == "id" %}
        <a class="default_link" href="{{ url_for('receipt.edit_receipt', client_id=client['id'], receipt_id=receipt_id) }}">
            {{ receipt_id }}
        </a>
        {% elif head == "cantidades" %}
            {% for code in receipts[receipt_id][head] %}
            {{ code }}:{{ receipts[receipt_id][head][code] }} ; 
            {% endfor %}
        {% elif head == "cambio" %}
            {{ format_price(receipts[receipt_id][head]) }}
        {% elif head == "total" %}
            {{ add_iva(receipts[receipt_id][head]) }}
        {% else %}
            {{ receipts[receipt_id][head] }}
        {% endif %}
        </td>
    {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
</table>