
<table class="receipt_table">
    {% for head in receipt_heads %}
    <th class="receipt_table">
        {{ receipt_heads[head] }}
    </th>
    {% endfor %}
    {% for receipt in receipts %}
    <tr>
    {% for head in receipt_heads %}
        <td class="receipt_table">
        {% if head == "id" %}
        <a class="default_link" href="{{ url_for('receipt.edit_receipt', client_id=client['id'], receipt_id=receipt.id) }}">
            {{ receipt.id }}
        </a>
        {% elif head == "cantidades" %}
            {% for code in receipt[head] %}
            {{ code }}: {{ receipt[head][code] }} ; 
            {% endfor %}
        {% elif head == "cambio" %}
            {{ format_price(receipt[head]) }}
        {% elif head == "total" %}
            {{ add_iva(receipt[head] * 1.16) }}
        {% elif head == "fecha" %}
            {{ format_date(receipt[head]) }}
        {% else %}
            {{ receipt[head] }}
        {% endif %}
        </td>
    {% endfor %}
    </tr>
    {% endfor %}
</table>