
<form method="post">
    {% for head in heads %}
    <label for="{{ head }}">{{ heads[head] }}</label>
    {% if head == "descripcion" %}
        <textarea name="{{ head }}" id="{{ head }}">{{ client[head] }}</textarea>
    {% else %}
        <input name="{{ head }}" id="{{ head }}" value="{{ client[head] }}">
    {% endif %}
    {% endfor %}
    <input type="submit" value="Aceptar">
</form>
<hr>
<form action="{{ url_for('client.remove_client', client_id=client['id']) }}" method="post">
    <input class="danger" type="submit" value="Eliminar" onclick="return confirm('Are you sure?');">
</form>