
<form method="post">
    <table class="search_bar">
        <tr>
            <td>
                <input class="my_second_input" name="search_term" id="search_term">
            </td>
            <td>
                <input class="my_second_input" type="submit" value="Buscar">
            </td>
        </tr>
    </table>
</form>
<table class="receipt_table">
    {% for head in receipt_heads %}
    <th class="receipt_table">
        {{ receipt_heads[head] }}
    </th>
    {% endfor %}
    {% for receipt_id in receipts %}
    {% if receipt_id != "numero_de_recibos" %}
    <tr>
    {% for head in receipt_heads %}
        {% if head == "id" %}
        <td class="receipt_table">
            <a class="my_link" href="{{ url_for('receipt.edit_receipt', client_id=client['id'], receipt_id=receipt_id) }}">
                {{ receipt_id }}
            </a>
        </td>
        {% elif head == "cantidades" %}
        <td class="receipt_table">
            {% for code in receipts[receipt_id][head] %}
            {{ code }}:{{ receipts[receipt_id][head][code] }},
            {% endfor %}
        </td>
        {% else %}
        <td class="receipt_table">{{ receipts[receipt_id][head] }}</td>
        {% endif %}
    {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
</table>