<!DOCTYPE html>
<title>{% block title %}{% endblock %}- VicSM</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='my_images/app_icon.ico') }}">
<nav>
    <h1><a href="{{ url_for('main_page.main_page') }}">AASM</a></h1>
    <ul>
        <li><a href="{{ url_for('inventory.inventory') }}">Inventario</a></li>
        <li><a href="{{ url_for('client.clients') }}">Clientes</a></li>
        <li><a href="{{ url_for('receipt.new_receipt', client_id=0) }}">Nuevo Recibo</a></li>
        <li><a href="{{ url_for('main_page.site_config') }}">Configuración</a></li>
    </ul>
</nav>
<header>
    {% block header %}{% endblock %}
</header>
<section class="content">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
