{% extends "base.html" %}

{% block header %}
    <h1>{% block title %} Añadir Producto{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post", enctype="multipart/form-data">
        {% for head in heads %}
        <label for="{{ head }}">{{ heads[head] }}</label>
        {% if head == "descripcion" %}
            <textarea name="{{ head }}" id="{{ head }}">
                {{ form_values[head] }}
            </textarea>
        {% elif head == "imagen" %}
            <input type="file" name="{{ head }}" id="{{ head }}">
        {% else %}
            <input name="{{ head }}" id="{{ head }}" value="{{ form_values[head] }}" required>
        {% endif %}
        {% endfor %}
        <input type="submit" value="Aceptar">
    </form>
{% endblock %}