{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Inventario{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table style="width:100%">
        {% for head in heads %}
            <th>{{ heads[head] }}</th>
        {% endfor %}
        {% for product in products %}
            <tr>
                {% for head in heads %}
                <td>
                {% if head == "imagen" %}
                    <image class="my_image" src="{{ url_for('static', filename='images/{}'.format(product[head])) }}">
                    </image>
                {% elif head == "codigo" %}
                <a class="default_link" href="{{ url_for('inventory.update_product', codigo=product['codigo']) }}">
                    {{ product[head] }}
                </a>
                {% elif head == "precio_venta" or head == "mi_precio" %}
                    {{ format_price(product[head]) }}
                {% elif head == "descripcion" %}
                    <p class="my_p">{{ product[head] }}</p>
                {% else %}
                    {{ product[head] }}
                {% endif %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}