{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Inventario{% endblock %}</h1>
    <a href="{{ url_for('inventory.add_product') }}">
        <h1>Añadir Producto</h1>
    </a>
{% endblock %}

{% block content %}
<datalist id="autocomplete-inv">
    {% for name in autocomplete_inv %}
    <option>{{ name }}</option>
    {% endfor %}
</datalist>

<h3>Buscar productos:</h3>
<form method="post" autocomplete="off">
    <table class="search_bar">
        <tr>
            <td class="search_bar">
                <input class="my_second_input" name="search_term" id="search_term"
                    placeholder="Busca productos escribiendo su grupo, serie, marca, codigo o nombre..."
                    list="autocomplete-inv">
            </td>
            <td class="search_bar">
                <input class="search_bar_button" type="submit" value="Buscar">
            </td>
        </tr>
    </table>
</form>
<hr>
<table style="text-align: center;">
    {% for head in heads %}
        <th>{{ heads[head] }}</th>
    {% endfor %}
    {% for product in products %}
    <tr>
        {% for head in heads %}
        <td>
        {% if head == "imagen" %}
            <image class="my_image" src="{{ url_for('static', filename='images/{}'.format(product[head])) }}">
            </image>
        {% elif head == "codigo" %}
        <a style="font-size: x-small;" class="default_link" href="{{ url_for('inventory.update_product', codigo=product['codigo']) }}">
            {{ product[head] }}
        </a>
        {% elif head == "precio_venta" or head == "mi_precio" %}
            {{ format_price(product[head]) }}
        {% elif head == "descripcion" %}
            <p class="my_p">{{ product[head] }}</p>
        {% elif head == "inventario" %}
            {% if product[head] >= 300 %}
            <p style="color: green;" class="inv_amnt">
                {{ product[head] }}
            </p>
            {% elif 100 < product[head] < 300 %}
            <p style="color: orange;" class="inv_amnt">
                {{ product[head] }}
            </p>
            {% elif product[head] <= 100 %}
            <p style="color: red;" class="inv_amnt">
                {{ product[head] }}
            </p>
            {% endif %}
        {% else %}
            {{ product[head] }}
        {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}