{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Editar Producto{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% for head in heads %}
    <label for="{{ head }}">
        {{ heads[head] }}
    </label>
    {% if head == "descripcion" %}
        <textarea name="{{ head }}" id="{{ head }}">{{ product[head] }}</textarea>
    {% elif head == "imagen" %}
        <input type="file" name="{{ head }}" id="{{ head }}" value="{{ request.files[head] }}">
    {% else %}
        <input name="{{ head }}" id="{{ head }}" value="{{ product[head] }}" required>
    {% endif %}
    {% endfor %}
    <input type="submit" value="Aceptar">
</form>
<hr>
<form action="{{ url_for('inventory.remove_product', codigo=product['codigo']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}
