

<table class="client">
    <tr>
        <td rowspan="3">
            <a href="{{ url_for('inventory.inventory') }}"><image style="padding-top: 5px;" src="{{ url_for('static', filename='images/aasm.png') }}"></image></a>
        </td>
        <td rowspan="2">
            <h3>{{ client_heads['cotizacion'] }}:</h3>
            <p class="centered">{{ client['cotizacion'] }}</p>
        </td>
        <td colspan="2">
            <h3>{{ client_heads['fecha'] }}:</h3>
            <p class="centered">{{ client['fecha'] }}</p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h3>PROYECTO:</h3>
            <p class="centered">{{ client['proyecto'] }}</p>
        </td>
    </tr>
    <tr>
        <form method="post">
        <td colspan="3">
            <h3>Sistema:</h3>
            {% if not grupo %}
            <textarea class="my_second_input" name="grupo" id="grupo"></textarea>
            {% else %}
            <p class="centered">{{ grupo }}</p>
            {% endif %}
        </td>
    </tr>
    <tr>
        {% for head in middle_heads %}
        <td>
            <h3>{{ middle_heads[head] }}:</h3>
            <p class="centered">
                {% if head == "cambio" %}
                    {% if not grupo %}
                    <input name="cambio" id="cambio" value="{{ cambio }}">
                    <input type="submit" value="Submit">
                    {% else %}
                    {{ format_price(cambio) }}
                    {% endif %}
                {% else %}
                {{ client[head] }}
                {% endif %}
            </p>
        </td>
        {% endfor %}
        </form>
    </tr>
    {% for head in last_heads %}
    <tr>
        <td colspan="4">
            <h3>{{ client_heads[head] }}:</h3>
            <p class="centered">{{ client[head] }}</p>
        </td>
    </tr>
    {% endfor %}
</table>