
<table class="product">
    <thead>
        <tr>
            <td class="no_borders"></td>
        </tr>
    </thead>
    {% for head in product_heads %}
    <th>{{ product_heads[head] }}</th>
    {% endfor %}
    {% for code in products %}
    <tr>
        {% for head in product_heads %}
        {% if head == "cantidad" %}
            <td class="centered">{{ cantidades[code] }}</td>
        {% elif head == "descripcion" %}
            <td class="justified">{{ products[code][head] }}</td>
        {% elif head == "imagen" %}
            <td class="centered">
            <image class="my_image" 
                src="{{ url_for('static', filename='images/{}'.format(products[code][head])) }}">
            </image>
            </td>
        {% elif head == "total" %}
            <td class="centered">
                {% if not totals[code] %}
                $0.00
                {% else %}
                {{ add_iva(totals[code]) }}
                {% endif %}
            </td>
        {% elif head == "precio_venta" %}
            <td class="centered">{{ add_iva(products[code][head]) }}</td>
        {% elif head == "mas_iva" %}
            <td class="centered">{{ add_iva(products[code]["precio_venta"] * 1.16) }}</td>
        {% else %}
            <td class="centered">{{ products[code][head] }}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        <td colspan="6" class="centered">
        
        </td>
        <td style="border-right: 0;">
            USD:<br>
            MXN:
        </td>
        <td style="text-align: right; border-left: 0;">
        {% if not total %}
            {{ format_price(0) }}<br>
            {{ format_price(0) }}
        {% else %}
            {{ add_iva(total) }}<br>
            {{ add_iva(total * client["cambio"]) }}
        {% endif %}
        </td>
    </tr>
</table>