
<table class="product search_bar">
    {% for head in product_heads %}
    <th>{{ product_heads[head] }}</th>
    {% endfor %}
    {% for code in products %}
    <tr>
        {% for head in product_heads %}
        {% if head == "codigo" %}
            <td style="font-size: smaller;">{{ products[code][head] }}</td>
        {% elif head == "cantidad" %}
            <td>
            <input style="max-width: 70px" class="my_input" name="{{ code }}" id="{{ code }}," value="{{ cantidades[code] }}">
            </td>
        {% elif head == "descripcion" %}
            <td>{{ products[code][head] }}</td>
        {% elif head == "imagen" %}
            <td>
            <image class="my_image" src="{{ url_for('static', filename='images/{}'.format(products[code][head])) }}"></image>
            </td>
        {% elif head == "total" %}
            <td class="centered">
                {% if not totals[code] %}
                    $0.00
                {% else %}
                    {{ add_iva(totals[code]) }}
                {% endif %}
            </td>
        {% elif head == "precio_venta" %}
            <td class="centered">{{ add_iva(products[code][head]) }}</td>
        {% elif head == "mas_iva" %}
            <td class="centered">{{ add_iva(products[code]["precio_venta"] * 1.16) }}</td>
        {% else %}
            <td>{{ products[code][head] }}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        <td colspan="5" class="centered search_bar">
            <input class="my_second_input" name="codigo" id="codigo">
        </td>
        <td colspan="2" class="centered search_bar">
            <input class="my_second_input" type="submit" value="Aceptar">
        </td>
        <td style="border-right: 0;">
            USD:<br>
            MXN:
        </td>
        <td style="text-align: right; border-left: 0;">
            {% if not total or not cambio %}
                {{ format_price(0) }}
                {{ format_price(0) }}
            {% else %}
                {{ add_iva(total * 1.16) }}
                {{ add_iva(total * cambio * 1.16) }}
            {% endif %}
        </td>
    </tr>
</table>