<!DOCTYPE html>
<title>Receipt</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style_receipt.css') }}">

<div>
<form method="post">
    {% include "receipt/receipt_client.html" %}
</div>
{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}
<table class="search_bar">
    <tr>
        <td colspan="5">
            <input class="my_second_input" name="product_search_term" id="product_search_term">
        </td>
        <td colspan="2">
            <input class="search_bar_button" type="submit" value="Aceptar">
        </td>
    </tr>
</table>
<div>
    {% include "receipt/receipt_products.html" %}
</div>
</form>
<form action="{{ url_for('receipt.receipt_done', receipt_id=receipt_id) }}">
    <input type="submit" value="Listo">
</form>
