
<table class="client">
    <tr>
        <td rowspan="3">
            <a href="{{ url_for('main_page.main_page') }}">
                <image class="receipt_image" src="{{ url_for('static', filename='my_images/{}'.format(aasm_image)) }}">
                </image>
            </a>
        </td>
        <td rowspan="2">
            <h3>{{ client_heads['cotizacion'] }}:</h3>
            <br>
            <p class="centered cotizacion">{{ client['cotizacion'] }}</p>
        </td>
        <td colspan="2">
            <h3>Fecha:</h3>
            <p style="font-size: small;" class="centered">{{ fecha }}</p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h3>PROYECTO:</h3>
            <p class="centered">{{ client['proyecto'] }}</p>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <h3>Sistema:</h3>
            <datalist id="autocomplete-receipt-groups">
                {% for group in autocomplete_receipt_groups %}
                <option>{{ group }}</option>
                {% endfor %}
            </datalist>
            {% if grupo %}
            <input class="my_second_input" name="grupo" id="grupo" value="{{ grupo }}"
                list="autocomplete-receipt-groups">
            {% else %}
            <input class="my_second_input" name="grupo" id="grupo"
                list="autocomplete-receipt-groups">
            {% endif %}
        </td>
    </tr>
    <tr>
        {% for head in middle_heads %}
        <td>
            <h3>{{ middle_heads[head] }}:</h3>
            <p class="centered middle_heads">
                {% if head == "cambio" %}
                <input name="cambio" id="cambio" value="{{ cambio }}">
                {% elif head == "nombre" %}
                    <a href="{{ url_for('client.profile', client_id=client['id']) }}">
                        {{ client[head] }}
                    </a>
                {% else %}
                    {{ client[head] }}
                {% endif %}
            </p>
        </td>
        {% endfor %}
    </tr>
    {% for head in last_heads %}
    <tr>
        <td colspan="4">
            <h3>{{ client_heads[head] }}:</h3>
            <p class="centered">
                {% if head == "nombre" %}
                    <a href="{{ url_for('client.profile', client_id=client['id']) }}">
                        {{ client[head] }}
                    </a>
                {% else %}
                    {{ client[head] }}
                {% endif %}
            </p>
        </td>
    </tr>
    {% endfor %}
</table>