<!DOCTYPE html>
<title>Receipt</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style_receipt.css') }}">

<div style="margin-bottom: 5px;">
    {% if client["id"] == 0 %}
    <form method="post">
        <table class="search_bar">
            <tr>
                <td class="search_bar">
                    <input class="my_second_input" name="search_term" id="search_term">
                </td>
                <td class="search_bar">
                    <input class="my_second_input" type="submit" value="submit">
                </td>
            </tr>
        </table>
    </form>
    {% else %}
<form method="post">
    {% include "receipt/receipt_client.html" %}
    {% endif %}
</div>
<div>
    {% include "receipt/receipt_products.html" %}
</div>
</form>
<button>
    <a href="{{ url_for('receipt.receipt_done', client_id=client['id'], receipt_id=receipt_id) }}">
        Listo
    </a>
</button>
