
<table class="product search_bar">
    {% for head in product_heads %}
    <th>{{ product_heads[head] }}</th>
    {% endfor %}
    {% for code in products %}
    <tr>
        {% for head in product_heads %}
        {% if head == "codigo" %}
            <td style="font-size: smaller;">{{ products[code][head] }}</td>
        {% elif head == "cantidad" %}
            <td class="centered">{{ cantidades[code] }}</td>
        {% elif head == "imagen" %}
            <td>
            <image class="my_image" src="{{ url_for('static', filename='images/{}'.format(products[code][head])) }}">
            </image>
            </td>
        {% elif head == "total" %}
            {% if not totals[code] %}
            <td>$0.00</td>
            {% else %}
            <td>{{ add_iva(totals[code]) }}</td>
            {% endif %}
        {% elif head == "precio_venta" %}
            <td>{{ add_iva(products[code][head]) }}</td>
        {% elif head == "mas_iva" %}
            <td>{{ add_iva(products[code]["precio_venta"] * 1.16) }}</td>
        {% else %}
        <td>{{ products[code][head] }}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        <td colspan="7" class="centered">
        
        </td>
        <td style="border-right: 0;">
            USD:<br>
            MXN:
        </td>
        {% if not total %}
        <td style="border-left: 0;" class="centered">$0.00</td>
        {% else %}
        <td style="text-align: right; border-left: 0;">
            {{ add_iva(total * 1.16) }}
            {{ add_iva(total * client["cambio"] * 1.16) }}
        </td>
        {% endif %}
    </tr>
</table>