{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Inventory{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table style="width:100%">
        <tr>
            {% for head in heads %}
                <th>{{ head.capitalize() }}</th>
            {% endfor %}
        </tr>
        {% for product in products %}
            <tr>
                {% for head in heads %}
                    <td>{{ product[head] }}</td>
                {% endfor %}
                <td><a href="{{ url_for('inventory.update_product', codigo=product['codigo']) }}">Update</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}